/*
    Kelsey Legault
    June 2016

Global Styles
Video Scrolling

 */

/*  Global Styles  */
* {
  margin: 0;
  box-sizing: border-box;
  cursor: none !important;
}

/*  Video Scrolling  */
.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#set-height {
    display: block;
}

#v0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
